html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.content {

}

h1 {
    text-align:center;
}
h5 {
    text-align: center;
}
.center {
    max-width: 500px;
    margin: auto;
    display: block;
    text-align: center;
}
ul{
    display: inline-block;
    text-align:left;
}
iframe{
    width:auto;
}